@import "./variables";

.carousel-section {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.carousel-card {
  display: flex;
  width: 660px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 7px 0px rgba(#c1c1c1, 1);
  overflow: hidden;
  &__preview {
    position: relative;
    width: 400px;
    height: 250px;
    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      .carousel-card__overlay {
        opacity: 1;
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.4);
    transition: all 0.3s ease;
    & > img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      cursor: pointer;
    }
  }
  &__status {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 3px 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 5px;
  }
  &__viewers,
  &__duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 3px 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    background-color: rgba(#000, 0.5);
    border-radius: 5px;
  }
  &__data {
    flex-grow: 1;
    padding: 15px;
    background-color: #e8e8e8;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    & img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__description {
    margin-left: 15px;
  }
  &__title {
    margin: 0;
    max-width: 180px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: $accent-color;
    }
  }
  &__subtitle {
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    color: #c1c1c1;
    &:hover {
      color: $accent-color;
    }
  }
  &__about {
    margin-top: 15px;
    font-size: 12px;
    color: #5e5e5e;
    & p {
      margin: 0;
    }
  }
}
