@import "./variables";

.categories {
  flex-shrink: 0;
  display: flex;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
.category {
  margin-left: 20px;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #1d1d1d;
  background-color: #ccc;
  border-radius: 15px;
  &:first-child {
    margin-left: 0;
    color: #fff;
    border-color: $accent-color;
    background-color: $accent-color;
    &:hover {
      background-color: $accent-color;
    }
  }
  &:hover {
    background-color: #c1c1c1;
  }
}
