*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  color: #121212;
  background: #fff;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "aside main";
  height: 100vh;
  grid-template-rows: 90px 1fr;
  grid-template-columns: 300px 1fr;
}

.container {
  padding: 20px;
}

.main {
  grid-area: main;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 75px 1fr;
  }
}
