@import "./variables";

.footer {
  margin-top: auto;
  padding: 15px 20px 0;
  text-align: center;
  font-size: 16px;
  & p {
    margin: 0;
  }
  & span {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url("../../assets/images/youtube.png") no-repeat center /
      contain;
  }
}
