@import "./variables";

.header {
  grid-area: header;
  z-index: 10;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 100px;
  align-items: center;
  box-shadow: 0px 4px 10px 0px #ccc;
  background-color: #fff;
  &__menu {
    justify-content: flex-end;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  &__title {
    margin: 0;
    font-size: 36px;
    color: $accent-color;
  }
}

.search {
  display: flex;
  align-items: center;
  &__wrp {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__input {
    padding: 7px 15px;
    width: 100%;
    font-size: 14px;
    line-height: 1;
    border: 1px solid #d7d7d7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &__label {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: 1px solid #d7d7d7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0;
    background: url("../../assets/images/search.png") no-repeat center / 16px,
      #ededed;
  }
  &__micro {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: 1px solid transparent;
    background: url("../../assets/images/microphone.png") no-repeat center /
        22px,
      transparent;
    opacity: 0.6;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
}

.header-nav {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #6c6c6c;
  overflow: hidden;
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__item {
    padding: 7px 25px;
    width: 170px;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s ease;
    &--logout {
      border-top: 1px solid #bebcbc;
      color: #ff031b;
    }
    &:hover {
      background-color: #e3e5e6;
    }
  }
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  &__item {
    margin-left: 20px;
    &--notify {
      width: 45px;
      height: 45px;
      cursor: pointer;
      border: 1px solid transparent;
      transition: all 0.3s ease;
      background: url("../../assets/images/bell.png") no-repeat center / 25px,
        transparent;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
    &--profile {
      &:hover {
        & .header-nav {
          display: block;
        }
      }
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.btn-profile {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  background: url("../../assets/images/paw.png") no-repeat center / 25px,
    $accent-color;
  background-size: 25px;
  transition: all 0.3s ease;
  &:hover {
    background-color: darken($accent-color, 10%);
  }
}

@media all and (max-width: 950px) {
  .header {
    grid-gap: 30px;
  }
}
