@import "./variables";

.sidebar {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
}

.streamers {
  flex-grow: 1;
  max-height: calc(100% - 159px);
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.streamer {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  &__img {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    & img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__name {
    margin-left: 20px;
    max-width: 200px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: $accent-color;
    }
  }
  &__viewers {
    position: relative;
    margin-left: auto;
  }
  &.live {
    .streamer__viewers {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translate(0, -50%) scale(1);
        width: 10px;
        height: 10px;
        background-color: #ff0000;
        border-radius: 50%;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        animation: pulse 2s infinite;
      }
    }
  }
  &:hover {
    background-color: #d1d1d1;
  }
}

.info {
  margin-top: auto;
  padding: 15px;
  border-top: 1px solid #fff;
  &__wrp {
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
  }
  &__text {
    margin: 0 0 10px;
    text-align: center;
    font-size: 20px;
    &::selection {
      color: #fff;
      background-color: $accent-color;
    }
  }
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    margin-left: 20px;
    padding: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    transition: all 0.3s ease;
    & img {
      width: 100%;
      object-fit: contain;
    }
    &--fb {
      &:hover {
        background-color: #186bcc;
      }
    }
    &--tw {
      &:hover {
        background-color: #5b33ae;
      }
    }
    &--tg {
      &:hover {
        background-color: #39abe2;
      }
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

@media all and (max-width: 1200px) {
  .streamers {
    max-height: 100%;
  }
  .streamer {
    &__name,
    &__viewers {
      display: none;
    }
  }
  .info {
    display: none;
  }
}

@keyframes pulse {
  0% {
    transform: translate(0, -50%) scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }

  70% {
    transform: translate(0, -50%) scale(1);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    transform: translate(0, -50%) scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
