@import "./variables";

.video-section {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px 15px;
}

.video-card {
  &__preview {
    position: relative;
    width: 100%;
    height: 180px;
    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      .video-card__overlay {
        opacity: 1;
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.4);
    transition: all 0.3s ease;
    & > img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      cursor: pointer;
    }
  }
  &__status {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 3px 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 5px;
  }
  &__viewers,
  &__duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 3px 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    background-color: rgba(#000, 0.5);
    border-radius: 5px;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  &__profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    & img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__description {
    margin-left: 15px;
  }
  &__title {
    margin: 0;
    max-width: 180px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: $accent-color;
    }
  }
  &__subtitle {
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    color: #c1c1c1;
    &:hover {
      color: $accent-color;
    }
  }
  &__options {
    align-self: start;
    margin-left: auto;
    width: 10px;
    height: 35px;
    cursor: pointer;
    background: url("../../assets/images/options.png") no-repeat center /
      contain;
    border: 0;
    transition: all 0.3s ease;
    &:hover {
      transform: rotate(90deg);
    }
  }
}
