@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  color: #121212;
  background: #fff;
}

.wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "aside main" "aside main";
  height: 100vh;
  -ms-grid-rows: 90px 1fr;
      grid-template-rows: 90px 1fr;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
}

.container {
  padding: 20px;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: main;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 1200px) {
  .wrapper {
    -ms-grid-columns: 75px 1fr;
        grid-template-columns: 75px 1fr;
  }
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 10px 0px #ccc;
          box-shadow: 0px 4px 10px 0px #ccc;
  background-color: #fff;
}

.header__menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.logo__title {
  margin: 0;
  font-size: 36px;
  color: #fba547;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.search__input {
  padding: 7px 15px;
  width: 100%;
  font-size: 14px;
  line-height: 1;
  border: 1px solid #d7d7d7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search__label {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 1px solid #d7d7d7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 0;
  background: url("../../assets/images/search.png") no-repeat center/16px, #ededed;
}

.search__micro {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 1px solid transparent;
  background: url("../../assets/images/microphone.png") no-repeat center/22px, transparent;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search__micro:hover {
  opacity: 1;
}

.header-nav {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px #6c6c6c;
          box-shadow: 0px 0px 5px 0px #6c6c6c;
  overflow: hidden;
}

.header-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-nav__item {
  padding: 7px 25px;
  width: 170px;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-nav__item--logout {
  border-top: 1px solid #bebcbc;
  color: #ff031b;
}

.header-nav__item:hover {
  background-color: #e3e5e6;
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-left: 20px;
}

.menu__item--notify {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: url("../../assets/images/bell.png") no-repeat center/25px, transparent;
  opacity: 0.6;
}

.menu__item--notify:hover {
  opacity: 1;
}

.menu__item--profile:hover .header-nav {
  display: block;
}

.menu__item:first-child {
  margin-left: 0;
}

.btn-profile {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  background: url("../../assets/images/paw.png") no-repeat center/25px, #fba547;
  background-size: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-profile:hover {
  background-color: #fa8d15;
}

@media all and (max-width: 950px) {
  .header {
    grid-gap: 30px;
  }
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e8e8e8;
}

.streamers {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-height: calc(100% - 159px);
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.streamer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.streamer__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.streamer__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.streamer__name {
  margin-left: 20px;
  max-width: 200px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.streamer__name:hover {
  color: #fba547;
}

.streamer__viewers {
  position: relative;
  margin-left: auto;
}

.streamer.live .streamer__viewers::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translate(0, -50%) scale(1);
          transform: translate(0, -50%) scale(1);
  width: 10px;
  height: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.streamer:hover {
  background-color: #d1d1d1;
}

.info {
  margin-top: auto;
  padding: 15px;
  border-top: 1px solid #fff;
}

.info__wrp {
  padding: 15px;
  border-radius: 5px;
  background-color: #dadada;
}

.info__text {
  margin: 0 0 10px;
  text-align: center;
  font-size: 20px;
}

.info__text::-moz-selection {
  color: #fff;
  background-color: #fba547;
}

.info__text::selection {
  color: #fff;
  background-color: #fba547;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  margin-left: 20px;
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social__item img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.social__item--fb:hover {
  background-color: #186bcc;
}

.social__item--tw:hover {
  background-color: #5b33ae;
}

.social__item--tg:hover {
  background-color: #39abe2;
}

.social__item:first-child {
  margin-left: 0;
}

@media all and (max-width: 1200px) {
  .streamers {
    max-height: 100%;
  }
  .streamer__name, .streamer__viewers {
    display: none;
  }
  .info {
    display: none;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, -50%) scale(0.95);
            transform: translate(0, -50%) scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: translate(0, -50%) scale(1);
            transform: translate(0, -50%) scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-transform: translate(0, -50%) scale(0.95);
            transform: translate(0, -50%) scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, -50%) scale(0.95);
            transform: translate(0, -50%) scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: translate(0, -50%) scale(1);
            transform: translate(0, -50%) scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-transform: translate(0, -50%) scale(0.95);
            transform: translate(0, -50%) scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.categories {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}

.categories::-webkit-scrollbar {
  display: none;
}

.category {
  margin-left: 20px;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #1d1d1d;
  background-color: #ccc;
  border-radius: 15px;
}

.category:first-child {
  margin-left: 0;
  color: #fff;
  border-color: #fba547;
  background-color: #fba547;
}

.category:first-child:hover {
  background-color: #fba547;
}

.category:hover {
  background-color: #c1c1c1;
}

.carousel-section {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 660px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0px 0px 7px 0px #c1c1c1;
          box-shadow: 0px 0px 7px 0px #c1c1c1;
  overflow: hidden;
}

.carousel-card__preview {
  position: relative;
  width: 400px;
  height: 250px;
}

.carousel-card__preview > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-card__preview:hover .carousel-card__overlay {
  opacity: 1;
}

.carousel-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.carousel-card__overlay > img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.carousel-card__status {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 3px 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #ff0000;
  border-radius: 5px;
}

.carousel-card__viewers, .carousel-card__duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 3px 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.carousel-card__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px;
  background-color: #e8e8e8;
}

.carousel-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-card__profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.carousel-card__profile img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-card__description {
  margin-left: 15px;
}

.carousel-card__title {
  margin: 0;
  max-width: 180px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-card__title:hover {
  color: #fba547;
}

.carousel-card__subtitle {
  margin: 0;
  cursor: pointer;
  font-size: 12px;
  color: #c1c1c1;
}

.carousel-card__subtitle:hover {
  color: #fba547;
}

.carousel-card__about {
  margin-top: 15px;
  font-size: 12px;
  color: #5e5e5e;
}

.carousel-card__about p {
  margin: 0;
}

.video-section {
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px 15px;
}

.video-card__preview {
  position: relative;
  width: 100%;
  height: 180px;
}

.video-card__preview > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-card__preview:hover .video-card__overlay {
  opacity: 1;
}

.video-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.video-card__overlay > img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.video-card__status {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 3px 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #ff0000;
  border-radius: 5px;
}

.video-card__viewers, .video-card__duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 3px 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.video-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.video-card__profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.video-card__profile img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-card__description {
  margin-left: 15px;
}

.video-card__title {
  margin: 0;
  max-width: 180px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-card__title:hover {
  color: #fba547;
}

.video-card__subtitle {
  margin: 0;
  cursor: pointer;
  font-size: 12px;
  color: #c1c1c1;
}

.video-card__subtitle:hover {
  color: #fba547;
}

.video-card__options {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-left: auto;
  width: 10px;
  height: 35px;
  cursor: pointer;
  background: url("../../assets/images/options.png") no-repeat center/contain;
  border: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.video-card__options:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer {
  margin-top: auto;
  padding: 15px 20px 0;
  text-align: center;
  font-size: 16px;
}

.footer p {
  margin: 0;
}

.footer span {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url("../../assets/images/youtube.png") no-repeat center/contain;
}
/*# sourceMappingURL=index.css.map */